.button{
    cursor: pointer;
    width: 204px;
    padding: 4px 24px 4px 24px;
    background-color: transparent;
    border: 3px solid white;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    transition: .4s ease;
}

.button:hover{
    background-color: white;
    color: black;
}